@font-face {
    font-family: 'pixelify-regular'; 
    src: url('./fonts/PixelifySans-VariableFont_wght.ttf'); 
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url(./assets/heart-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'pixelify-regular', sans-serif;
}

/* envelop */
#envelope-container {
  text-align: center;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#envelope {
  width: 200px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

#letter-container {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
}

.letter-window {
  width: 530px; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/window.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  position: relative;
}

.letter-window.open {
  transform: scale(1);
  opacity: 1;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 18px;
}

/* bunny */

.bunny {
  width: 100%;
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.bunny-gif {
  width: 150px; 
  height: auto;
}

#sad-cat-img {
    pointer-events: none;
    border-radius: 10px;
    border: 2px solid white;
}

.letter-window.final .cat {
  width: 180px;
}

/* buttons */
.buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.no-wrapper {
  position: relative;
}

.btn {
  width: 120px;
  cursor: pointer;
  user-select: none;
}

.yes-btn,
.no-btn {
  width: 120px;
  height: auto;
  display: inline-block;
}

.yes-btn {
  position: relative;
  z-index: 2;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.no-btn {
  z-index: 1;
  position: relative;
  transition: transform 0.15s ease;
  cursor: default;
}

.final-text {
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 240, 240, 0.5);
border-radius: 12px;
}

.heart_bunny {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -80px; 
  left: -60px; 
  animation: bunny 1s infinite;
}

body.accepted {
  background-image: none !important;
  background-color: #ffb6c1;
}

.letter-window.accepted {
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

#letter-title {
  font-size: 28px;
  margin-top: 120px;
  color: #333;
}

